$primary:#E8AB0E;
$secondary:#222;
div,a,h1,h2,h3,p,img{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    -webkit-font-smoothing:antialiased;
    font-family: neue-haas-unica;
    color:#222;
    font-size:15px;
    scroll-behavior: smooth;
}
.container{
    width:90%;
    max-width: 1140px;
    margin: 0 auto;
    &.nav-container{
        max-width: 1400px;
    }
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
nav{
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 5;
    border-bottom: 1px solid transparent;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    color:white;;
    .pravega{
        fill:white;
    }
    .logo{
        font-size:23px;
        font-weight:500;
        color:inherit;
        text-decoration: none;
        position: relative;
        top:5px;
    }
    .nav-wrapper{
        display:flex;
        align-items: center;
        .left{
            flex-basis: 200px;
        }
        .right{
            flex-basis:calc(100% - 200px);
            text-align: right;
            a{
                color:inherit;
                text-decoration: none;
                letter-spacing: 1.3px;;
                font-weight:500;
                margin-left:30px;
                display:inline-block;
                padding: 5px 0;
                &.active{
                    color: $primary;
                }
            }
        }
    }

    &.fixed{
        padding: 15px 0;
        background: white;
        color:#222;
        border-bottom: 1px solid #dbdbdb;
        .pravega{
            fill:$secondary;
        }
        #hamb{
            fill:$secondary;
        }
    }
    #hamb{
        fill:white;
    }
    .mobile-menu{
        display: none;
    }
}

.hero{
    height:calc(100vh - 60px);
    position: relative;
    min-height: 600px;
    max-height: 900px;
    .hero-main-wrapper{
        height: 100%;
        overflow: hidden;
    }
    .hero-slider-wrapper{
        height:300%;
        transition: all 0.6s ease;
        .hero-slider-item{
            height: 33.33%;
            background-position: center;
            background-size: cover;
            position: relative;
            &:after{
                content:"";
                position: absolute;
                top:0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) 0%, rgba(1, 1, 2, 0.12) 10.37%, rgba(0, 0, 0, 0.43) 42.41%, rgba(0, 0, 0, 0.85) 100%);
            }
            .hero-content{
                position: absolute;
                padding:40px;
                z-index: 1;
                bottom:13vh;
                width:100%;
                color:white;
                max-width: 845px;
                h1{
                    font-size:3.6rem;
                    margin-bottom: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    opacity: 0;
                    transition: all 0.6s ease;
                    transition-delay: 0.5s;
                    transform: translateY(50px);
                }
                p{
                    opacity: 0.6;
                    color:rgba(255,255,255,0.6);
                    font-size:1.3rem;
                    margin-top:10px;
                    margin-bottom: 50px;
                    letter-spacing: 0.6px;
                    line-height: 1.6;
                    opacity: 0;
                    transition: all 0.6s ease;
                    transform: translateY(30px);
                    transition-delay: 0.8s;
                }
                button{
                    transition: all 0.6s ease;
                    opacity: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.6px;
                    transform: translateY(20px);
                    transition-delay: 0.9s;
                    letter-spacing: 0.3px;
                    svg{
                        margin-left: 20px;
                        transition: all 0.9s ease;
                    }
                    &:hover{
                        svg{
                            transform: translateX(10px);
                        }
                    }
                }
                
            }
            &.active{
                .hero-content{
                    h1,p,button{
                        opacity: 1;
                        transform: none;
                    }
                }
            }
        }
    }
    .hero-slider-nav{
        position: absolute;
        z-index: 2;
        bottom:320px;
        left:calc((100vw - 1140px)/2 - 60px);
        button{
            height: 50px;width:50px;background: rgba(255,255,255,0.3);
            display: block;
            color:white;
            padding: 0;
            border:0;
            margin:2px;
        }
    }
    .pull-down{
        position: absolute;
        bottom:20px;
        transform: scale(0.7);
        left:calc(50% - 30px);
    }
}

button{
    padding: 10px 20px;
    cursor: pointer;
    &.primary{
        background:darken($primary,2%);
        transition: all 0.3s ease;
        color:white;
        font-size:1rem;
        border:1px solid $primary;
        font-weight: 700;
        &:hover{
            background: darken($primary,5%);
        }
    }
    &.large{
        padding: 15px 30px;;
    }
    &.secondary{
        background:$secondary;
        transition: all 0.3s ease;
        color:white;
        font-size:1rem;
        border:1px solid $secondary;
        font-weight: 700;
        &:hover{
            background: darken($secondary,10%);
        }
    }
}

.motto{
    color:#222;
    padding: 20vh 0;
    .moto-content{
        max-width: 900px;
        padding: 40px;
    }
    h1{
        font-size:3rem;
    }
    .motoashero {
        max-width: 100%;
         h1{
            font-size:3.5rem;
        }
    }
}
.page-pill{
    padding-left: 80px;
    position: relative;
    &:before{
        content:"";
        display: inline-block;
        position: absolute;
        height: 2px;
        width: 50px;
        left:0;
        top:10px;
        background-color: $primary;

    }
}
.recents{
    display: flex;
    .left{
        flex-basis:33.33%;
        padding: 40px;
        height: 491px;
        background-color: #EEEEEE;
        .content{
            width:60%;
            margin: 10px auto;
            h1{
                font-size: 2rem;
                font-weight: 500;
                padding-top:50px;
                position: relative;
                &:before{
                    content:"";
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    display: inline-block;
                    background: $primary;
                    top:0;
                    left:0;
                }
            }
            button{
                margin-top:50px;
            }
        }
        
    }
    .right{
        flex-basis:66.66%;
        border:1px solid #dbdbdb;
    }
}

.recent-list-slider-wrapper{
    height: 100%;
}

.recent-list-slider-item{
    display: flex;
    .recent-list-item{
        transition: all 0.3s ease;
        flex-basis: 50%;
        border-right:1px solid white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 491px;
        color:white;
        padding:50px;
        position: relative;
        &:after{
            position: absolute;
            content:"";
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            background-color:rgba(0,0,0,0.3);
        }
        .recent-list-content{
            position: relative;
            z-index: 1;
            img{
                height: 60px;
                width:auto;
                object-fit: contain;
                object-position: center;
                padding:0px;
            }
            h1{
                font-size:2.5rem;
                margin-top:10px;
                font-weight: 500;
            }
            
        }
        p.caption{
            padding: 30px 50px;
            position: absolute;
            bottom:0;
            width:100%;
            left:0;
            font-size: 1.5rem;
            z-index:1;
        }
        &:hover{
            position: relative;
            z-index: 2;
            transform: scale(1.04);
            &:after{
                background: rgba(0,0,0,0.5);
            }
        }
    }
}

.news{
    background: $secondary;
    color: white;
    padding: 30px 0;
    h1{
        font-size:2rem;
        margin-bottom: 40px;
        padding-bottom:15px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
}
.section-pill{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 700;
    margin-bottom: 20px;
    color:white;
    background-color: rgba(0, 0, 0, 0.52);
}
.news-list-wrapper{
    margin-bottom: 40px;
}

.news-list-item{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    align-items: flex-start;
    .news-provider{
        flex-basis: 15%;
        p{
            font-size:0.8rem;
            font-weight:700 ;
            color: $primary;
            margin-top:0;
        }
        
    }
    .news-headlines{
        flex-basis: 65%;
        a{
            font-size:1.3rem;
            margin-top:10px;
            color: inherit;
            text-decoration: none;
            &:hover{
                color: $primary;
                text-decoration: underline;
            }
        }
    }
    .post-date{
        flex-basis:20%;
        text-align: right;
        p{
            font-size:13px;
            opacity: 0.6;
            margin:0;
        }
    }
}

.twitter-feed-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    .twitter-feed-item{
        padding: 20px 30px 50px 30px;
        background: rgba(255,255,255,0.1);
        position: relative;
        width: 32%;
        .message{
            font-weight: 500;
            font-size:16px;
        }
        .info{
            position: absolute;
            width:100%;
            padding: 10px 30px;
            display: flex;
            width:100%;
            left:0;
            bottom: 0;
            justify-content:space-between;
            .posted-timeline{
                font-size:13px;
                opacity: 0.6;
            }
            .dp{
                height: 30px;
                width:30px;
                background-size: cover;
                border-radius: 50%;
                background-image: url('https://pbs.twimg.com/profile_images/918533303430406149/LcCnzKG7_400x400.jpg');
            }
        }
    }
}

.hero-blog{
    padding: 40px 0;
    h1{
        font-size:2rem;
    }
}
.blog-wrapper-item{
    display: flex;
    margin: 30px 0;
    img{
        width:345px;
        height:228px;
        object-fit: cover;
        object-position: center;
        transition: all 0.3s ease;
    }
    .blog-detail-info{
        padding-left: 40px;
        max-width: 600px;
        .topic{
            font-weight: 500;
            border-radius: 3px;
            margin-bottom: 10px;
            color: darken($primary,5%);

        }
        h1{
            font-size: 24px;
            font-family: 'Merriweather', serif;
            margin:10px 0;
            line-height: 1.4;
        }
        .blog-summary{
            font-size:18px;
            opacity: 0.8;
            margin-top:0;
        }
        .post-info{
            font-weight: 500;
            span{
                color:grey;
                font-weight: 400;
            }
        }
    }
    &:hover {
        a{
        color: $primary;
        text-decoration: underline;
        }
        img{
            transform: translateX(10px);
        }
}
}
.hero-blog-footer{
    padding: 20px 0;
    border-top:1px solid #dbdbdb;
    text-align: center;
}

footer{
    background: darken($secondary,10%);
    padding: 30px 0px 40px 0px;
    margin-top:50px;
    color:white;
    .footer-wrapper{
        font-size:14px;
        display: flex;
        .left{
            flex-basis:200px;
            p{
                margin:0;
                font-size:20px;
                font-weight: 500;
            }
        }
        .right{
            flex-basis:300px;
            text-align: right;
        }
        .middle{
            text-align: center;
            flex-basis: calc(100% - 400px);
            a{
                color:inherit;
                margin: 0 10px;
                text-decoration: none;
                &:hover{
                    color:$primary;
                    text-decoration: underline;
                }
            }
        }
    }  
}

//portfolio

.hero-small{
    height: 40vh;
    min-height: 587px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    &:after{
        content:"";
        position: absolute;
        top:0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) 0%, rgba(1, 1, 2, 0.12) 10.37%, rgba(0, 0, 0, 0.43) 42.41%, rgba(0, 0, 0, 0.85) 100%);
        
    }
    .content{
        position: relative;
        max-width: 700px;
        z-index: 1;
        color:white;
        padding-top:180px;
        label{
            color:$primary;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.3px;
        }
        h1{
            font-size:3.6rem;
            margin-bottom: 20px;
            font-weight: 500;
            line-height: 1.2;
            transition: all 0.6s ease;
            transition-delay: 0.5s;
            
        }
        p{
            color:rgba(255,255,255,0.6);
            font-size:1.3rem;
            margin-top:10px;
            margin-bottom: 50px;
            letter-spacing: 0.6px;
            line-height: 1.6;
            transition: all 0.6s ease;
            
        }
    }
}
.temp-portfolio-hero{
    margin-top:150px;
    padding-bottom: 50px;
    h1{
        font-size:3rem;
    }
}
.filter-menu{
    padding: 15px 0;
    border-bottom: 1px solid #dbdbdb;
    button{
        background: transparent;
        font-size:16px;
        font-weight: 500;
        color:$secondary;
        border:0;
    }
    button.active{
        background-color: darken($primary,5%);
        color:white;
    }
    .filter-label{
        font-size:20px;
        margin-right: 15px;
        font-weight: 500;
    }
}

.portfolio-wrapper{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    .portfolio-item{
        border:1px solid #dbdbdb;
        cursor: pointer;
        // border:1px solid transparent;
        flex-basis: 33%;
        padding: 60px 30px 60px 30px;
        position: relative;
        overflow: hidden;
        img{
            width:80%;
            height:170px;
            object-fit: contain;
            margin: 0 auto;
            display: block;
            transition: all 0.3s ease;
            transform-origin: top;
        }
        .portfolio-caption{
            position: absolute;
            left:0;
            width:100%;
            bottom: 0;
            padding: 10px 30px;
            transition: all 0.3s ease;
            transform: translateY(200px);
            
        }
        &:hover{
            border:2px solid $primary;
            img{
                transform: scale(0.8);

            }
            .portfolio-caption{
                transform: none;
            }
        }
    }
    
}
.past-investments{
    margin-top:50px;
    margin-bottom: 120px;
}
.past-investment-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    .past-investment-item{
        flex-basis: 20%;
        padding:20px;
        img{
            height:100px;
            width: 100%;
            object-fit: contain;
            object-fit: contain;
            filter: saturate(0);
            opacity: 0.6;
        }
        &:hover{
            img{
                filter: saturate(1);
                opacity: 1;
            }
        }
    }
}

.modal{
    position: fixed;
    background: $secondary;
    transform-origin: top;
    animation:scaleUp 0.3s ease 1;
    color:white;
    z-index: 10;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    .cover{
        flex-basis:50%;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .detail{
        flex-basis: 50%;
        padding: 30px;
        overflow: auto;
        .detail-content{
            max-width: 516px;
            margin:30px auto;
            .title{
                font-weight: 500;
            }
            .caption{
                opacity: 0.6;
                font-size:20px;
                margin-top:-10px;
                letter-spacing: 0.3px;
            }
            .data-row{
                margin-top:30px;
            }
            p.about{
                font-size:16px;
                line-height: 1.7;
            }
            button{
                margin-top:20px;
            }
        }
        
    }
    .team-detail{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .social-links{
            a{
                margin-right:5px;
            }
        }
        .detail-content{
            transform: translateY(-60px);
        }
    }
    &.open{
        display: flex;
    }
}

.data-group{
    margin-bottom: 20px;
    min-width: 200px;
    .data-label{
        color:white;
        font-weight: 500;
        font-size:14px;
    }
    .data-value{
        font-size:18px;
        color:#A4A4A4;
    }
    .data-value.founder{ 
        margin-top:10px;
        
        svg{
        margin-right:5px;
        position: relative;
        top:3px;
        .icon{
           fill:#A4A4A4;
        }
    }
    a{
        color: inherit;
        text-decoration: none;
        &:hover{
            color: $primary;
            .icon{
                fill:$primary;
            }
        }
    }
    }
}

.data-row{
    display: flex;
}

#closeModal{
    background: transparent;
    border:0;
    position: absolute;
    top:30px;
    right:30px;
}
.portfolio-news{
    padding-top:30px;
    border-top:1px solid #a4a4a4;
    margin-top:30px;
    .portfolio-news-item{
        padding:10px 20px;
        background: #2C2A2A;
        a{
            color:white;
            text-decoration: none;
        }
    }
}

.team-intro{
    margin-top: 150px;
    h1{
        font-size:3rem;
    }
}
.team-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0 150px 0;
    .team-item{
        flex-basis: 33.33%;
        position: relative;
        height:50vh;
        max-height:400px;
        background-position: top;
        background-size: cover;
        overflow: hidden;
        .team-info{
            color:white;
            position: absolute;
            transition: all 0.3s ease;
            width:100%;
            bottom: 0;
            left:0;
            padding:  20px 30px;
            transform: translateY(100%);
            color:white;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.54%, #000000 99.96%);
            .name{
                font-size:1.6rem;
                margin:0;
                font-weight: 500;
            }
            .designation{
                font-size: 13px;
                color:rgba(255,255,255,0.6);
                margin-top:5px;
            }
        }
        &:hover{
            .team-info{
                transform: none;
            }
            
        }
    }
}

.blog-hero{
    height: 656px;
    .blog-slide-main{
        height: 100%;
        position: relative;
        .blog-indicator{
            position: absolute;
            width:90%;
            margin:0 auto;
            max-width: 1140px;
            top:120px;
            left:calc((100% - 1140px)/2);
            right:auto;
            z-index: 2;
            .line{
                display: inline-block;
                height: 4px;
                width:120px;
                background: rgba(255,255,255,0.8);
                cursor: pointer;
                &.active{
                    background:$primary;
                }
            }
        }
        .blog-slide-wrapper{
            height: 100%;
            .blog-slide-item{
                animation: fadeIn 0.3s ease-in 1;
                height: 100%;
                padding-top:150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                display: none;
                &:after{
                    content:"";
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.22) 0%, rgba(44, 42, 71, 0.63) 14.64%, rgba(12, 11, 23, 0.63) 47.14%, #201F2C 100%);
                }
                .blog-hero-content{
                    position: relative;
                    max-width: 900px;
                    z-index: 1;
                    color:white;
                    h1{
                        font-size:2.6rem;
                        font-family: "Merriweather";
                        line-height: 1.4;
                        margin-top: 10px;
                    }
                    .topic{
                        font-size: 18px;
                        opacity: 0.6;
                    }
                    .summary{
                        opacity: 0.6;
                        font-size: 1.4rem;
                        font-weight: 300;
                    }
                    .post-info{
                        margin-top:40px;
                    }
                    button{
                        margin-top:20px;
                    }
                }
                &.active{
                    display: block;
                }
            }
        }
    }
}

.moreblogs{
    margin: 30px auto;
    padding-bottom: 100px;
    h1{
        font-size:1.7rem;
        margin:0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input{
        width:250px;
        height:35px;
        padding: 0 20px;
        background: #EDEDED;
        border:1px solid #dbdbdb;
        font-size:14px;
        &:focus{
            outline: none;
            background: white;
            border:1px solid $secondary;
        }
    }
}
.blog-view-header{
    margin-top:100px;
    .top-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .share-links{
            text-decoration: none;
            a{
                margin-left: 5px;
            }
        }
    }
    .blog-header-img{
        width:100%;
        height:400px;
        object-fit: cover;
    }
}
.breadcrumb{
    a{
        color:inherit;
        text-decoration: none;
        font-size:13px;
        font-weight: 500;;
        &::after{
           content: " / "; 
        }
        &:last-child{
            content:" ";
            color:grey;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: bottom;
        }
    }
}

.blog-view-detail{
    .topic{
        font-size:18px;
        color:darken($primary,4%);
        margin-bottom: 10px;
        font-weight: 500;
        
    }
    .blog-title{
        font-size:2.4rem;
        font-family: "Merriweather";
        margin-top:0;
        max-width: 900px;
        line-height: 1.4;
    }
    .summary{
        opacity: 0.6;
        font-size:20px;
        font-weight: 300;
        max-width: 800px;
    }
    .posted-info{
        font-size:14px;
        font-weight: 500;
        span{
            color:grey;
        }
    }
}
.blog-grid{
    display: flex;
    .left{
        flex-basis:8.333%;
        .decorator-line{
            width:100%;
            border-top:2px solid $secondary;
            margin-top:30px;
        }
    }
    .center{
        flex-basis: 70%;
        max-width: 720px;
        padding: 0 20px
    }
    .right{
        padding:0 20px;
    }
}

.blog-body-content{
    &::selection{
        background-color: $primary;
    }
    p{
        font-size:18px;
        line-height: 1.8;
        font-family: "Merriweather";
        font-weight: 300;
    }
    blockquote{
        font-size:32px;
        font-family: "Merriweather";
        font-style: italic;
        font-weight: 300;
        line-height: 1.5;
        border-left:5px solid $secondary;
        margin-left:0;
        padding-left: 30px;
    }
    img{
        width:100%;
        height: auto;
    }
    ul{
        font-family: "Merriweather";
        li{
            font-size:18px;
            line-height: 1.8;
            font-weight: 300;
            margin: 20px 0;
        }
    }
    a{
        color: darken($primary,2%);
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}
.comments{
    margin: 50px 0;
}
.tag{
    display: inline-block;
    padding: 2px 5px;
    border:1px solid $secondary;
    background: #fafafa;
    border-radius: 3px;
    margin: 5px 2px;
}
.contact{
    margin-top:60px;
    display: flex;
    .left{
        flex-basis: 50%;
        .contact-content{
            max-width: 350px;
            margin: 120px auto;
            h1{
                font-size: 2.6rem;
            }
            h3{
                font-size: 1.6rem;
                font-weight: 500;
            }
            .tabs{
                .tab{
                    display:inline-block;
                    margin-right:30px;
                    padding-bottom: 10px;
                    font-size:18px;
                    cursor: pointer;
                    &.active{
                        font-weight: 500;
                        border-bottom: 4px solid $primary;
                    }
                }
            }
            .address{
                font-size:24px;
                line-height: 1.8;
                font-weight: 300;
            }
        }
    }
    .right{
        flex-basis:50%;
        height: calc(100vh - 60px);
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            animation:fadeIn 0.6s ease 1;
        }
    }
}

#delMap{
    display: none;
}
#del-address{
    display:none;
    animation: slideLeft 0.6s ease 1;
}
#ban-address{
    animation: slideRight 0.6s ease 1; 
}




@keyframes scaleUp {
    0%{
        opacity: 1;
        transform:  translateY(1000px) scale(0.8);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0.95;
    }
}

@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
}
@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

@media(max-width:1260px){
    .hero .hero-slider-wrapper .hero-slider-item .container{
        max-width: 1000px;
    }
    .hero .hero-slider-nav{
        left:10px;
    }
}

@media(max-width:786px){
    .hero .hero-slider-nav{
        display: none;
    }
    button.large{
        padding: 10px 20px;
    }
    nav{
        padding:20px 0;
        background-color: rgba(0, 0, 0, 0.52);
        .nav-wrapper{
            .right{
                position: absolute;
                width:100%;
                top:65px;
                text-align: center;
                left:0;
                background: rgba(0, 0, 0, 0.82);
                transition: all 0.6s ease;
                a{
                    display: block;
                    padding: 10px 20px;
                    margin-bottom: 10px;;
                    margin-left:0;
                }
                transform: translateY(-1000px);
                &.open{
                    transform: none;
                }
            }
        }
        .mobile-menu{
            display: block;
            flex-basis: calc(100% - 200px);
            text-align: right;
            svg{
                transition: all 0.6s ease;
            }
            &.open{
                svg{
                    
                    transform: rotate(90deg);
                }
                
            }
        }
        &.fixed{
            .nav-wrapper{
                .right{
                    background: white;
                    box-shadow:1px 10px 10px 1px rgba(0,0,0,0.1)
                }
            }
        }
    }
    .recents{
        flex-direction: column;
        .recent-list-slider-item{
            flex-basis: auto;
            flex-direction: column;
            min-height: 350px;
            height: auto;
            .recent-list-item{
                flex-basis: auto;
                height:200px;
            }
        }
    }
    .blog-wrapper-item{
        flex-direction: column;
        .blog-detail-info{
            padding-left: 0;
            margin-top: 20px;
        }
    }
    .hero{
        min-height: 360px;
        max-height: 650px;
    }
    .hero .hero-slider-wrapper .hero-slider-item .hero-content{
        position: relative;
        top:120px;
        padding:20px;
        .title{
            font-size:2rem;
        }
        .sub-title{
            font-size:16px;
        }
    }
    .motto {
        padding: 10vh 0;
        h1{
        font-size: 1.6rem;
    }
    .moto-content{
        padding: 20px;
    }
    }
    .recents{
        .left{
            height:300px;
            .content{
                width: 90%;
            }
        }
    }
    .news-list-item{
        flex-direction: column;
        .post-date{
            margin-top:20px;
        }
    }
    .news h1,.hero-blog h1{
        font-size:1.5rem
    }
    .twitter-feed-wrapper{
        flex-direction: column;
        .twitter-feed-item{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .blog-wrapper-item img{
        width:100%;
    }
    .recent-list-slider-item .recent-list-item p.caption{
        font-size: 1.2rem;
        padding:20px;
    }
    .recent-list-slider-item .recent-list-item {
        padding:20px;
    }
    .recents .left .content h1{
        font-size: 1.6rem;
        padding-top: 20px;
    }
    .news-list-item .news-headlines a {
        font-size:1rem;
    }
    footer .footer-wrapper{
        flex-direction: column;
        .left,.middle,.right{
            flex-basis: 100%;
            text-align: center;
        }
        svg{
            margin-bottom: 10px;
        }
    }
    .blog-wrapper-item{
        .blog-detail-info{
            h1{
                font-size: 1.4rem;
            }
            .blog-summary{
                font-size: 14px;
            }
            .post-info{
                font-size:12px;
            }
        }
    }
    .temp-portfolio-hero h1{
        font-size: 1.6rem;
    }
    .filter-menu{
        span{
            display:none
        }
    }
    .portfolio-wrapper .portfolio-item{
        flex-basis: 100%;
        padding: 30px;
    }
    .portfolio-wrapper .portfolio-item img{
        transform: scale(0.6);
    }
    .portfolio-wrapper .portfolio-item .portfolio-caption{
        transform: none;
    }
    .filter-menu button{
        padding: 5px 10px;
    }
    .past-investments{
        margin-top:10px;
        h1{
            font-size: 1.3rem;
        }
    }
    .past-investment-wrapper{
        .past-investment-item{
            flex-basis: 50%;
            img{
                height: 60px;
            }
        }
    }
    .temp-portfolio-hero{
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .modal{
        
    &.open{
        display: block;
        overflow: auto;
    }
    }
    .data-row{
        flex-wrap: wrap;
    }
    .team-intro h1{
        font-size:1.6rem
    }
    .team-wrapper .team-item{
        flex-basis: 100%;
        height:40vh;
        .team-info{
            transform: none;
        }
    }
    .team-intro{
        margin-top: 100px;
    }
    .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item{
        padding-top: 100px;
    }
    .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content h1{
        font-size: 1.6rem;
    }
    .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content .summary{
        font-size: 1.2rem;
    }
    .blog-hero{
        height: 600px;
    }
    .blog-view-header .top-wrapper{
        flex-direction: column;
        .breadcrumb{
            margin-bottom: 10px;
        }
    }
    .blog-view-header .blog-header-img{
        height: 200px;
    }
    .blog-view-detail{
        .blog-title{
            font-size: 24px;
        }
        .summary{
            font-size: 18px;
        }
    }
    .blog-grid{
        flex-direction: column;
    }
    .blog-body-content blockquote{
        font-size:1.5rem
    }
    .contact{
        flex-direction: column-reverse;
        .right{
            height:200px;
            flex-basis: auto;
            img{
                height: 220px;
            }
        }
        .left a{
            display: block;
        }
        .left{
            flex-basis: auto;
            .contact-content h1{
                font-size: 1.6rem;
            }
            .contact-content{
                margin-top: 60px;
                padding: 10px 30px;
                h3{
                    font-size: 1.2rem;
                }
                .tabs .tab{
                    font-size: 16px;
                }
                .address{
                    font-size: 1.3rem;
                }
            }
        }
       

    }
    .modal .detail .detail-content{
        h1{
            font-size: 1.6rem;
        }
    }
    .moreblogs .header{
        flex-direction: column;
        h1{
            text-align: left;
            width: 100%;
            margin-bottom: 10px;
            font-size: 1.6rem;
        }
        
    }
    .moreblogs input{
        width: 90%;
    }
    #closeModal{
        top:20px;
        right:10px;
    }
    footer .footer-wrapper .middle a{
        display: block;
        padding: 10px;
    }
    .page-pill{
        padding-left: 30px;
        &:before{
            width: 20px;
        }
    }
}