div, a, h1, h2, h3, p, img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: neue-haas-unica;
  color: #222;
  font-size: 15px;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.container.nav-container {
  max-width: 1400px;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.left_portfolio_nav {
  position: fixed;
  top: calc(50vh - 25px);
  background: white;
  height: 50px;
  width: 50px;
  border: 1px solid #222;
  left: 10px;
  padding: 0;
}

.right_portfolio_nav {
  position: fixed;
  top: calc(50vh - 25px);
  background: white;
  height: 50px;
  width: 50px;
  border: 1px solid #222;
  right: 10px;
  padding: 0;
}

nav {
  padding: 30px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 5;
  border-bottom: 1px solid transparent;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  color: white;
}

nav .pravega {
  fill: white;
}

nav .logo {
  font-size: 23px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  position: relative;
  top: 5px;
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-wrapper .left {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

nav .nav-wrapper .right {
  -ms-flex-preferred-size: calc(100% - 200px);
      flex-basis: calc(100% - 200px);
  text-align: right;
}

nav .nav-wrapper .right a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1.3px;
  font-weight: 500;
  margin-left: 30px;
  display: inline-block;
  padding: 5px 0;
}

nav .nav-wrapper .right a.active {
  color: #E8AB0E;
}

nav.fixed {
  padding: 15px 0;
  background: white;
  color: #222;
  border-bottom: 1px solid #dbdbdb;
}

nav.fixed .pravega {
  fill: #222;
}

nav.fixed #hamb {
  fill: #222;
}

nav #hamb {
  fill: white;
}

nav .mobile-menu {
  display: none;
}

.hero {
  height: calc(100vh - 60px);
  position: relative;
  min-height: 600px;
  max-height: 900px;
}

.hero .hero-main-wrapper {
  height: 100%;
  overflow: hidden;
}

.hero .hero-slider-wrapper {
  height: 300%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hero .hero-slider-wrapper .hero-slider-item {
  height: 33.33%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero .hero-slider-wrapper .hero-slider-item:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.52)), color-stop(10.37%, rgba(1, 1, 2, 0.12)), color-stop(42.41%, rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.85)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) 0%, rgba(1, 1, 2, 0.12) 10.37%, rgba(0, 0, 0, 0.43) 42.41%, rgba(0, 0, 0, 0.85) 100%);
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content {
  position: absolute;
  padding: 40px;
  z-index: 1;
  bottom: 13vh;
  width: 100%;
  color: white;
  max-width: 845px;
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content p {
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content button {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  letter-spacing: 0.3px;
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content button svg {
  margin-left: 20px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.hero .hero-slider-wrapper .hero-slider-item .hero-content button:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.hero .hero-slider-wrapper .hero-slider-item.active .hero-content h1, .hero .hero-slider-wrapper .hero-slider-item.active .hero-content p, .hero .hero-slider-wrapper .hero-slider-item.active .hero-content button {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hero .hero-slider-nav {
  position: absolute;
  z-index: 2;
  bottom: 320px;
  left: calc((100vw - 1140px)/2 - 60px);
}

.hero .hero-slider-nav button {
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  color: white;
  padding: 0;
  border: 0;
  margin: 2px;
}

.hero .pull-down {
  position: absolute;
  bottom: 20px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  left: calc(50% - 30px);
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

button.primary {
  background: #dea40d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
  border: 1px solid #E8AB0E;
  font-weight: 700;
}

button.primary:hover {
  background: #d0990d;
}

button.large {
  padding: 15px 30px;
}

button.secondary {
  background: #222;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
  border: 1px solid #222;
  font-weight: 700;
}

button.secondary:hover {
  background: #090909;
}

.motto {
  color: #222;
  padding: 20vh 0;
}

.motto .moto-content {
  max-width: 900px;
  padding: 40px;
}

.motto h1 {
  font-size: 3rem;
}

.motto .motoashero {
  max-width: 100%;
}

.motto .motoashero h1 {
  font-size: 3.5rem;
}

.page-pill {
  padding-left: 80px;
  position: relative;
}

.page-pill:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  top: 10px;
  background-color: #E8AB0E;
}

.recents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recents .left {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 40px;
  height: 491px;
  background-color: #EEEEEE;
}

.recents .left .content {
  width: 60%;
  margin: 10px auto;
}

.recents .left .content h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 50px;
  position: relative;
}

.recents .left .content h1:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  display: inline-block;
  background: #E8AB0E;
  top: 0;
  left: 0;
}

.recents .left .content button {
  margin-top: 50px;
}

.recents .right {
  -ms-flex-preferred-size: 66.66%;
      flex-basis: 66.66%;
  border: 1px solid #dbdbdb;
}

.recent-list-slider-wrapper {
  height: 100%;
}

.recent-list-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-list-slider-item .recent-list-item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-right: 1px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 491px;
  color: white;
  padding: 50px;
  position: relative;
}

.recent-list-slider-item .recent-list-item:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.recent-list-slider-item .recent-list-item .recent-list-content {
  position: relative;
  z-index: 1;
}

.recent-list-slider-item .recent-list-item .recent-list-content img {
  height: 60px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding: 0px;
}

.recent-list-slider-item .recent-list-item .recent-list-content h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 500;
}

.recent-list-slider-item .recent-list-item p.caption {
  padding: 30px 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  font-size: 1.5rem;
  z-index: 1;
}

.recent-list-slider-item .recent-list-item:hover {
  position: relative;
  z-index: 2;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.recent-list-slider-item .recent-list-item:hover:after {
  background: rgba(0, 0, 0, 0.5);
}

.news {
  background: #222;
  color: white;
  padding: 30px 0;
}

.news h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.section-pill {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.52);
}

.news-list-wrapper {
  margin-bottom: 40px;
}

.news-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news-list-item .news-provider {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.news-list-item .news-provider p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #E8AB0E;
  margin-top: 0;
}

.news-list-item .news-headlines {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.news-list-item .news-headlines a {
  font-size: 1.3rem;
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
}

.news-list-item .news-headlines a:hover {
  color: #E8AB0E;
  text-decoration: underline;
}

.news-list-item .post-date {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: right;
}

.news-list-item .post-date p {
  font-size: 13px;
  opacity: 0.6;
  margin: 0;
}

.twitter-feed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.twitter-feed-wrapper .twitter-feed-item {
  padding: 20px 30px 50px 30px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  width: 32%;
}

.twitter-feed-wrapper .twitter-feed-item .message {
  font-weight: 500;
  font-size: 16px;
}

.twitter-feed-wrapper .twitter-feed-item .info {
  position: absolute;
  width: 100%;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twitter-feed-wrapper .twitter-feed-item .info .posted-timeline {
  font-size: 13px;
  opacity: 0.6;
}

.twitter-feed-wrapper .twitter-feed-item .info .dp {
  height: 30px;
  width: 30px;
  background-size: cover;
  border-radius: 50%;
  background-image: url("https://pbs.twimg.com/profile_images/918533303430406149/LcCnzKG7_400x400.jpg");
}

.hero-blog {
  padding: 40px 0;
}

.hero-blog h1 {
  font-size: 2rem;
}

.blog-wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.blog-wrapper-item img {
  width: 345px;
  height: 228px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-wrapper-item .blog-detail-info {
  padding-left: 40px;
  max-width: 600px;
}

.blog-wrapper-item .blog-detail-info .topic {
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #d0990d;
}

.blog-wrapper-item .blog-detail-info h1 {
  font-size: 24px;
  font-family: 'Merriweather', serif;
  margin: 10px 0;
  line-height: 1.4;
}

.blog-wrapper-item .blog-detail-info .blog-summary {
  font-size: 18px;
  opacity: 0.8;
  margin-top: 0;
}

.blog-wrapper-item .blog-detail-info .post-info {
  font-weight: 500;
}

.blog-wrapper-item .blog-detail-info .post-info span {
  color: grey;
  font-weight: 400;
}

.blog-wrapper-item:hover a {
  color: #E8AB0E;
  text-decoration: underline;
}

.blog-wrapper-item:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.hero-blog-footer {
  padding: 20px 0;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}

footer {
  background: #090909;
  padding: 30px 0px 40px 0px;
  margin-top: 50px;
  color: white;
}

footer .footer-wrapper {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-wrapper .left {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

footer .footer-wrapper .left p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

footer .footer-wrapper .right {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  text-align: right;
}

footer .footer-wrapper .middle {
  text-align: center;
  -ms-flex-preferred-size: calc(100% - 400px);
      flex-basis: calc(100% - 400px);
}

footer .footer-wrapper .middle a {
  color: inherit;
  margin: 0 10px;
  text-decoration: none;
}

footer .footer-wrapper .middle a:hover {
  color: #E8AB0E;
  text-decoration: underline;
}

.hero-small {
  height: 40vh;
  min-height: 587px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero-small:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.52)), color-stop(10.37%, rgba(1, 1, 2, 0.12)), color-stop(42.41%, rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.85)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) 0%, rgba(1, 1, 2, 0.12) 10.37%, rgba(0, 0, 0, 0.43) 42.41%, rgba(0, 0, 0, 0.85) 100%);
}

.hero-small .content {
  position: relative;
  max-width: 700px;
  z-index: 1;
  color: white;
  padding-top: 180px;
}

.hero-small .content label {
  color: #E8AB0E;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.hero-small .content h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hero-small .content p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 50px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.temp-portfolio-hero {
  margin-top: 150px;
  padding-bottom: 50px;
}

.temp-portfolio-hero h1 {
  font-size: 3rem;
}

.filter-menu {
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
}

.filter-menu button {
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  border: 0;
}

.filter-menu button.active {
  background-color: #d0990d;
  color: white;
}

.filter-menu .filter-label {
  font-size: 20px;
  margin-right: 15px;
  font-weight: 500;
}

.portfolio-wrapper {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item {
  border: 1px solid #dbdbdb;
  cursor: pointer;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 60px 30px 60px 30px;
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper .portfolio-item img {
  width: 80%;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.portfolio-wrapper .portfolio-item .portfolio-caption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 10px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.portfolio-wrapper .portfolio-item:hover {
  border: 2px solid #E8AB0E;
}

.portfolio-wrapper .portfolio-item:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.portfolio-wrapper .portfolio-item:hover .portfolio-caption {
  -webkit-transform: none;
          transform: none;
}

.past-investments {
  margin-top: 50px;
  margin-bottom: 120px;
}

.past-investment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.past-investment-wrapper .past-investment-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 20px;
}

.past-investment-wrapper .past-investment-item img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  object-fit: contain;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  opacity: 0.6;
}

.past-investment-wrapper .past-investment-item:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
  opacity: 1;
}

.modal {
  position: fixed;
  background: #222;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: scaleUp 0.3s ease 1;
          animation: scaleUp 0.3s ease 1;
  color: white;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal .cover {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.modal .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.modal .detail {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 30px;
  overflow: auto;
}

.modal .detail .detail-content {
  max-width: 516px;
  margin: 30px auto;
}

.modal .detail .detail-content .title {
  font-weight: 500;
}

.modal .detail .detail-content .caption {
  opacity: 0.6;
  font-size: 20px;
  margin-top: -10px;
  letter-spacing: 0.3px;
}

.modal .detail .detail-content .data-row {
  margin-top: 30px;
}

.modal .detail .detail-content p.about {
  font-size: 16px;
  line-height: 1.7;
}

.modal .detail .detail-content button {
  margin-top: 20px;
}

.modal .team-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .team-detail .social-links a {
  margin-right: 5px;
}

.modal .team-detail .detail-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data-group {
  margin-bottom: 20px;
  min-width: 200px;
}

.data-group .data-label {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.data-group .data-value {
  font-size: 18px;
  color: #A4A4A4;
}

.data-group .data-value.founder {
  margin-top: 10px;
}

.data-group .data-value.founder svg {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.data-group .data-value.founder svg .icon {
  fill: #A4A4A4;
}

.data-group .data-value.founder a {
  color: inherit;
  text-decoration: none;
}

.data-group .data-value.founder a:hover {
  color: #E8AB0E;
}

.data-group .data-value.founder a:hover .icon {
  fill: #E8AB0E;
}

.data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#closeModal {
  background: transparent;
  border: 0;
  position: absolute;
  top: 30px;
  right: 30px;
}

.portfolio-news {
  padding-top: 30px;
  border-top: 1px solid #a4a4a4;
  margin-top: 30px;
}

.portfolio-news .portfolio-news-item {
  padding: 10px 20px;
  background: #2C2A2A;
}

.portfolio-news .portfolio-news-item a {
  color: white;
  text-decoration: none;
}

.team-intro {
  margin-top: 150px;
}

.team-intro h1 {
  font-size: 3rem;
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 0 150px 0;
}

.team-wrapper .team-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  position: relative;
  height: 50vh;
  max-height: 400px;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

.team-wrapper .team-item .team-info {
  color: white;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.54%, rgba(0, 0, 0, 0)), color-stop(99.96%, #000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.54%, #000000 99.96%);
}

.team-wrapper .team-item .team-info .name {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
}

.team-wrapper .team-item .team-info .designation {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 5px;
}

.team-wrapper .team-item:hover .team-info {
  -webkit-transform: none;
          transform: none;
}

.blog-hero {
  height: 656px;
}

.blog-hero .blog-slide-main {
  height: 100%;
  position: relative;
}

.blog-hero .blog-slide-main .blog-indicator {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  top: 120px;
  left: calc((100% - 1140px)/2);
  right: auto;
  z-index: 2;
}

.blog-hero .blog-slide-main .blog-indicator .line {
  display: inline-block;
  height: 4px;
  width: 120px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.blog-hero .blog-slide-main .blog-indicator .line.active {
  background: #E8AB0E;
}

.blog-hero .blog-slide-main .blog-slide-wrapper {
  height: 100%;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item {
  -webkit-animation: fadeIn 0.3s ease-in 1;
          animation: fadeIn 0.3s ease-in 1;
  height: 100%;
  padding-top: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: none;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.22) 0%, rgba(44, 42, 71, 0.63) 14.64%, rgba(12, 11, 23, 0.63) 47.14%, #201F2C 100%);
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content {
  position: relative;
  max-width: 900px;
  z-index: 1;
  color: white;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content h1 {
  font-size: 2.6rem;
  font-family: "Merriweather";
  line-height: 1.4;
  margin-top: 10px;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content .topic {
  font-size: 18px;
  opacity: 0.6;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content .summary {
  opacity: 0.6;
  font-size: 1.4rem;
  font-weight: 300;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content .post-info {
  margin-top: 40px;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content button {
  margin-top: 20px;
}

.blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item.active {
  display: block;
}

.moreblogs {
  margin: 30px auto;
  padding-bottom: 100px;
}

.moreblogs h1 {
  font-size: 1.7rem;
  margin: 0;
}

.moreblogs .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moreblogs input {
  width: 250px;
  height: 35px;
  padding: 0 20px;
  background: #EDEDED;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}

.moreblogs input:focus {
  outline: none;
  background: white;
  border: 1px solid #222;
}

.blog-view-header {
  margin-top: 100px;
}

.blog-view-header .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.blog-view-header .top-wrapper .share-links {
  text-decoration: none;
}

.blog-view-header .top-wrapper .share-links a {
  margin-left: 5px;
}

.blog-view-header .blog-header-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.breadcrumb a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.breadcrumb a::after {
  content: " / ";
}

.breadcrumb a:last-child {
  content: " ";
  color: grey;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

.blog-view-detail .topic {
  font-size: 18px;
  color: #d59d0d;
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-view-detail .blog-title {
  font-size: 2.4rem;
  font-family: "Merriweather";
  margin-top: 0;
  max-width: 900px;
  line-height: 1.4;
}

.blog-view-detail .summary {
  opacity: 0.6;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
}

.blog-view-detail .posted-info {
  font-size: 14px;
  font-weight: 500;
}

.blog-view-detail .posted-info span {
  color: grey;
}

.blog-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-grid .left {
  -ms-flex-preferred-size: 8.333%;
      flex-basis: 8.333%;
}

.blog-grid .left .decorator-line {
  width: 100%;
  border-top: 2px solid #222;
  margin-top: 30px;
}

.blog-grid .center {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: 720px;
  padding: 0 20px;
}

.blog-grid .right {
  padding: 0 20px;
}

.blog-body-content::-moz-selection {
  background-color: #E8AB0E;
}

.blog-body-content::selection {
  background-color: #E8AB0E;
}

.blog-body-content p {
  font-size: 18px;
  line-height: 1.8;
  font-family: "Merriweather";
  font-weight: 300;
}

.blog-body-content blockquote {
  font-size: 32px;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  border-left: 5px solid #222;
  margin-left: 0;
  padding-left: 30px;
}

.blog-body-content img {
  width: 100%;
  height: auto;
}

.blog-body-content ul {
  font-family: "Merriweather";
}

.blog-body-content ul li {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
  margin: 20px 0;
}

.blog-body-content a {
  color: #dea40d;
  font-weight: 500;
}

.blog-body-content a:hover {
  text-decoration: underline;
}

.comments {
  margin: 50px 0;
}

.tag {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #222;
  background: #fafafa;
  border-radius: 3px;
  margin: 5px 2px;
}

.contact {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .left .contact-content {
  max-width: 350px;
  margin: 120px auto;
}

.contact .left .contact-content h1 {
  font-size: 2.6rem;
}

.contact .left .contact-content h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.contact .left .contact-content .tabs .tab {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}

.contact .left .contact-content .tabs .tab.active {
  font-weight: 500;
  border-bottom: 4px solid #E8AB0E;
}

.contact .left .contact-content .address {
  font-size: 24px;
  line-height: 1.8;
  font-weight: 300;
}

.contact .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: calc(100vh - 60px);
  position: relative;
}

.contact .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  -webkit-animation: fadeIn 0.6s ease 1;
          animation: fadeIn 0.6s ease 1;
}

#delMap {
  display: none;
}

#del-address {
  display: none;
  -webkit-animation: slideLeft 0.6s ease 1;
          animation: slideLeft 0.6s ease 1;
}

#ban-address {
  -webkit-animation: slideRight 0.6s ease 1;
          animation: slideRight 0.6s ease 1;
}

@-webkit-keyframes scaleUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1000px) scale(0.8);
            transform: translateY(1000px) scale(0.8);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(1000px) scale(0.8);
            transform: translateY(1000px) scale(0.8);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.95;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.95;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@media (max-width: 1260px) {
  .hero .hero-slider-wrapper .hero-slider-item .container {
    max-width: 1000px;
  }
  .hero .hero-slider-nav {
    left: 10px;
  }
}

@media (max-width: 786px) {
  .hero .hero-slider-nav {
    display: none;
  }
  button.large {
    padding: 10px 20px;
  }
  nav {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.52);
  }
  nav .nav-wrapper .right {
    position: absolute;
    width: 100%;
    top: 65px;
    text-align: center;
    left: 0;
    background: rgba(0, 0, 0, 0.82);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  nav .nav-wrapper .right a {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  nav .nav-wrapper .right.open {
    -webkit-transform: none;
            transform: none;
  }
  nav .mobile-menu {
    display: block;
    -ms-flex-preferred-size: calc(100% - 200px);
        flex-basis: calc(100% - 200px);
    text-align: right;
  }
  nav .mobile-menu svg {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  nav .mobile-menu.open svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  nav.fixed .nav-wrapper .right {
    background: white;
    -webkit-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .recents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recents .recent-list-slider-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 350px;
    height: auto;
  }
  .recents .recent-list-slider-item .recent-list-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: 200px;
  }
  .blog-wrapper-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-wrapper-item .blog-detail-info {
    padding-left: 0;
    margin-top: 20px;
  }
  .hero {
    min-height: 360px;
    max-height: 650px;
  }
  .hero .hero-slider-wrapper .hero-slider-item .hero-content {
    position: relative;
    top: 120px;
    padding: 20px;
  }
  .hero .hero-slider-wrapper .hero-slider-item .hero-content .title {
    font-size: 2rem;
  }
  .hero .hero-slider-wrapper .hero-slider-item .hero-content .sub-title {
    font-size: 16px;
  }
  .motto {
    padding: 10vh 0;
  }
  .motto h1 {
    font-size: 1.6rem;
  }
  .motto .moto-content {
    padding: 20px;
  }
  .recents .left {
    height: 300px;
  }
  .recents .left .content {
    width: 90%;
  }
  .news-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-list-item .post-date {
    margin-top: 20px;
  }
  .news h1, .hero-blog h1 {
    font-size: 1.5rem;
  }
  .twitter-feed-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .twitter-feed-wrapper .twitter-feed-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .blog-wrapper-item img {
    width: 100%;
  }
  .recent-list-slider-item .recent-list-item p.caption {
    font-size: 1.2rem;
    padding: 20px;
  }
  .recent-list-slider-item .recent-list-item {
    padding: 20px;
  }
  .recents .left .content h1 {
    font-size: 1.6rem;
    padding-top: 20px;
  }
  .news-list-item .news-headlines a {
    font-size: 1rem;
  }
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-wrapper .left, footer .footer-wrapper .middle, footer .footer-wrapper .right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  footer .footer-wrapper svg {
    margin-bottom: 10px;
  }
  .blog-wrapper-item .blog-detail-info h1 {
    font-size: 1.4rem;
  }
  .blog-wrapper-item .blog-detail-info .blog-summary {
    font-size: 14px;
  }
  .blog-wrapper-item .blog-detail-info .post-info {
    font-size: 12px;
  }
  .temp-portfolio-hero h1 {
    font-size: 1.6rem;
  }
  .filter-menu span {
    display: none;
  }
  .portfolio-wrapper .portfolio-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 30px;
  }
  .portfolio-wrapper .portfolio-item img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .portfolio-wrapper .portfolio-item .portfolio-caption {
    -webkit-transform: none;
            transform: none;
  }
  .filter-menu button {
    padding: 5px 10px;
  }
  .past-investments {
    margin-top: 10px;
  }
  .past-investments h1 {
    font-size: 1.3rem;
  }
  .past-investment-wrapper .past-investment-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .past-investment-wrapper .past-investment-item img {
    height: 60px;
  }
  .temp-portfolio-hero {
    margin-top: 100px;
    padding-bottom: 20px;
  }
  .modal.open {
    display: block;
    overflow: auto;
  }
  .data-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-intro h1 {
    font-size: 1.6rem;
  }
  .team-wrapper .team-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 40vh;
  }
  .team-wrapper .team-item .team-info {
    -webkit-transform: none;
            transform: none;
  }
  .team-intro {
    margin-top: 100px;
  }
  .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item {
    padding-top: 100px;
  }
  .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content h1 {
    font-size: 1.6rem;
  }
  .blog-hero .blog-slide-main .blog-slide-wrapper .blog-slide-item .blog-hero-content .summary {
    font-size: 1.2rem;
  }
  .blog-hero {
    height: 600px;
  }
  .blog-view-header .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-view-header .top-wrapper .breadcrumb {
    margin-bottom: 10px;
  }
  .blog-view-header .blog-header-img {
    height: 200px;
  }
  .blog-view-detail .blog-title {
    font-size: 24px;
  }
  .blog-view-detail .summary {
    font-size: 18px;
  }
  .blog-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-body-content blockquote {
    font-size: 1.5rem;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .right {
    height: 200px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .contact .right img {
    height: 220px;
  }
  .contact .left a {
    display: block;
  }
  .contact .left {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .contact .left .contact-content h1 {
    font-size: 1.6rem;
  }
  .contact .left .contact-content {
    margin-top: 60px;
    padding: 10px 30px;
  }
  .contact .left .contact-content h3 {
    font-size: 1.2rem;
  }
  .contact .left .contact-content .tabs .tab {
    font-size: 16px;
  }
  .contact .left .contact-content .address {
    font-size: 1.3rem;
  }
  .modal .detail .detail-content h1 {
    font-size: 1.6rem;
  }
  .moreblogs .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .moreblogs .header h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .moreblogs input {
    width: 90%;
  }
  #closeModal {
    top: 20px;
    right: 10px;
  }
  footer .footer-wrapper .middle a {
    display: block;
    padding: 10px;
  }
  .page-pill {
    padding-left: 30px;
  }
  .page-pill:before {
    width: 20px;
  }
  .left_portfolio_nav {
    position: absolute;
    top: 100px;
    background: white;
    height: 50px;
    width: 50px;
    border: 1px solid #222;
    left: 10px;
    padding: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .right_portfolio_nav {
    position: absolute;
    top: 100px;
    background: white;
    height: 50px;
    width: 50px;
    border: 1px solid #222;
    right: 10px;
    padding: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=main.css.map */